<form
    class="form-group new-post-form"
    [ngClass]="showForm ? 'fade-in' : 'fade-out'"
    [formGroup]="newPostForm"
    (ngSubmit)="onSubmit()"
>
    <div class="input-field">
        <label class="form-label" for="imageSrc">Painting</label>
        <div class="upload-painting-field">
            <img
                (click)="onAddPainting($event)"
                src="../../assets/upload-image-icon.png"
                alt="upload_image_icon"
                height="30px"
            />
            <p>Click to upload</p>
        </div>
    </div>
    <div class="input-field">
        <label class="form-label" for="title">Title</label>
        <input
            [ngClass]="{
                'is-valid':
                    newPostForm.controls['title'].touched && newPostForm.controls['title'].status === 'VALID',
                'is-invalid':
                    newPostForm.controls['title'].touched &&
                    newPostForm.controls['title'].status === 'INVALID',
                'form-control': true
            }"
            id="title"
            type="text"
            formControlName="title"
        />
        <div *ngIf="newPostForm.controls['title'].invalid && newPostForm.controls['title'].dirty">
            <p class="input-error" *ngIf="newPostForm.controls['title'].errors.required">
                This field is required
            </p>
            <p class="input-error" *ngIf="newPostForm.controls['title'].errors.minlength">
                Should be longer than 4 chars
            </p>
        </div>
    </div>
    <div>
        <label class="form-label" for="description">Description</label>
        <textarea
            class=""
            [ngClass]="{
                'is-valid':
                    newPostForm.controls['description'].touched &&
                    newPostForm.controls['description'].status === 'VALID',
                'is-invalid':
                    newPostForm.controls['description'].touched &&
                    newPostForm.controls['description'].status === 'INVALID'
            }"
            id="description"
            type="text"
            formControlName="description"
        ></textarea>

        <div *ngIf="newPostForm.controls['description'].invalid && newPostForm.controls['description'].dirty">
            <p class="input-error" *ngIf="newPostForm.controls['description'].errors.required">
                This field is required
            </p>
            <p class="input-error" *ngIf="newPostForm.controls['description'].errors.minlength">
                Should be longer than 4 chars
            </p>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!newPostForm.valid">Create Post</button>
</form>

<div class="new-post-btn" (click)="toggleForm()">
    <img alt="create-new-post-btn" src="../../assets/create-post-icon.png" class="h-12 w-36" />
    <p class="">Create Post</p>
</div>
